{% extends 'base.html.twig' %}

{% block title %}Blauwmaan | API Caller{% endblock %}
   {% block stylesheets %}
       <style>

           body {
               height: 100vh;
               overflow: hidden;
               background-image: linear-gradient(to right, rgba(11,17,37, 0), rgba(11,17,37, 0.50),
               rgba(11,17,37, 0.680), rgba(11,17,37, 0.70), rgba(11,17,37, 0.94),  rgba(11,17,37, 0.98));
               -webkit-perspective: 100px; /* Safari 4-8  */
               perspective: 100px;
           }

           .required {
               font-size: 30px;
               font-family: 'Pacifico', cursive;
               text-shadow: 0 0 2px #222222;
           }

           .glass {
               background: #5eb5e0;
               box-shadow: 0 0 4px 4px inset black;
           }

           .cover {
               background: #222222;
           }

           .computerPicture {
               clip-path: circle(50%);
           }

           .comp {
               -webkit-transform-style: preserve-3d; /* Safari 3-8  */
               -webkit-transform: rotateX(2deg); /* Safari 3-8  */
               transform-style: preserve-3d;
               transform: rotateX(2deg);
               transform: translateY(50px);
               animation: Mover 5000ms forwards;
               animation-delay: 500ms;
               animation-duration: 5000ms;
               animation-timing-function: ease;

           }



           @keyframes Mover {
               0%{transform: translateZ(-2px)}
               100% {
                   transform: translateZ(-75px);

               }
           }

           .boxshadow {

           }

       </style>
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   {% endblock %}
{% block body %}

    <div id="container" class="container">
            <div class="row">
                <div class="cover col-12 p-5 comp">
                    <div id="glass" class="glass row m-2 p-4">
                        <section class="text-center mx-auto col-6">
                            <a href="{{ path("homepage") }}">
                                <h4 class="m-5">Hello {{ name }}, I have a mission for you</h4>
                            </a>
                            <img class="img-fluid computerPicture rounded mx-auto d-block" src="{{ api.photo }}" alt="picture of {{ api.photo }}">

                            <ul id="blink" class="bg-dark text-light text-center p-5 card list-unstyled m-5">
                                <li >{{ api.name }} {{ api.surname }}</li>
                                <li> {{ api.gender }}</li>
                                <li> {{ api.age }}</li>
                                <li> {{ api.region }}</li>
                            </ul>

                        </section>
                    </div>
                </div>
            </div>
    </div>
    <script>
        let missionAccept = document.getElementById("blink");
        let glass = document.getElementById("glass");
        function playAnimation () {
            missionAccept.animate([
                { opacity: '.9' },
                { opacity: '1' },
                { opacity: '.9' }
            ], {
                duration: 2000,
                iterations: Infinity
            });

            glass.animate([
                { opacity: '.9' },
                { opacity: '1' },
                { opacity: '.9' }
            ], {
                duration: 2000,
                iterations: Infinity
            });
        }
        playAnimation();


    </script>
{% endblock %}
