<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <style>

                html, body {
                    height: 100%;

                }

                .logo-nav {



                }

                .znav {
                    z-index: 1000000;
                }

                .logRegBackground {
                    height: calc(100% - 105px);
                    perspective: 1000px;
                    padding: 20px;
                    background-image: linear-gradient(transparent 0%, white 40%, black 90%);

                }

                .loginBox {
                    transform: rotateX(0) translateZ(0);
                    animation: logBox 400ms ease-in-out;

                }

                @keyframes logBox {
                    from {transform: rotateX(40deg) translateZ(50px);}
                    to {transform: rotateX(0) translateZ(0);}
                }






            </style>
            <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        {% endblock %}
        {% block javascripts %}
            <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/110/three.js" integrity="sha256-+5R1zw/Tcxp82QhhfAJlicTeM4LCzFxp6EvsZW3V9bE=" crossorigin="anonymous"></script>
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        {% endblock %}
    </head>
    <body>
    {% for label, messages in app.flashes(['success', 'error']) %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    <nav class="znav navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand  " href="{{ path('homepage') }}">Blauwmaan</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                       Level One Pages
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{ path('apicaller') }}">API Caller</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ path('moon') }}">Moon</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ path('chat_box') }}">ChatBox</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ path('logo') }}">Logo</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Level Two Pages
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{ path('r_p_g') }}">RPG</a>
                        <div class="dropdown-divider"></div>
                    </div>
                </li>
                {% if app.user %}
                    <li class="nav-item"><div class="disabled nav-link" href="">User: {{ app.user.email}}</div></li>
                    <li class="nav-item ml-5 loginLink"><a class='nav-link loginLink' href="{{ path('logout') }}">Logout</a></li>
                {% else %}<li class="nav-item ml-5 loginLink"><a class='nav-link loginLink' href="{{ path('login') }}">Login</a></li>
                    <li class="nav-item ml-5 loginLink"><a class='nav-link loginLink' href="{{ path('register') }}">Register</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
        {% block body %}
        {% endblock %}
    </body>
</html>
